# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example
!.env*.test

# Code coverage
coverage

# misc
.DS_Store

# Dev db data
db

# TypeScript
build

# Dist
dist/*
!dist/.gitkeep

# Keys
jwt.key
jwt.key.pub

# Applications
applications.json